.authNavigationBar {
    height: 70px;
    display: flex;
    align-items: center;
    background: #fff;
    justify-content: space-between;
    padding: 0px 30px;
  }
  
  .authNavigationBar .logoContainer {
    display: flex;
    align-items: center;
  }
  
  .authNavigationBar .logoContainer img {
    margin-right: 10px;
  }
  
  .authNavigationBar .logoContainer span {
    font-size: 18px;
  }
  
  .authNavigationBar .bold {
    font-weight: 600;
  }
  
  .authNavigationBar .thin {
    font-weight: 300;
  }
  
  .authNavigationBar .links span{
    margin-left: 30px;
    font-size: 18px;
    color: #404040;
  }
  
  .authNavigationBar .links .button {
    cursor: pointer;
  }
  
  @media screen and (max-width: 650px) {
    .authNavigationBar {
      padding: 0px 10px !important;
    }
  
    .authNavigationBar .logoContainer img {
      width: 60px;
    }
  
    .authNavigationBar .logoContainer span {
      font-size: 14px !important;
    }
  
    .authNavigationBar .links {
      display: none;
    }
  }