.navigationAuth {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 110;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigationAuth .container {
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 500px;
}

.navigationAuth .container .head {
    display: flex;
    justify-content: space-between;
}

.navigationAuth .container .head svg {
    margin-left: 20px;
    cursor: pointer;
}

.navigationAuth .container .head svg:hover circle {
    fill-opacity: 1;
}

.navigationAuth .container h1 {
    font-size: 24px;
    letter-spacing: 0.02em;
    font-weight: 600;
}

.navigationAuth .container .p {
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #333333;
    margin-top: 10px;
}

.navigationAuth .container .p1 {
    font-size: 12px;
    letter-spacing: 0.02em;
    font-weight: 300;
    color: #333333;
}

.navigationAuth .container a {
    color: #333333;
}

.navigationAuth .container .buttonContainer {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.navigationAuth .container .buttonContainer button {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #F8F8F9;
    border-radius: 5px;
    cursor: pointer;
}

.navigationAuth .container .buttonContainer button:hover {
    background: rgba(196, 196, 196, 0.4);
}

.navigationAuth .container .buttonContainer button span {
    font-size: 16px;
    font-weight: 500;
}

.navigationAuth .container .buttonContainer button:nth-child(1) {
    margin-bottom: 20px;
}

.navigationAuth .container .buttonContainer button svg {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}

.loader {
    display: block;
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #ff4359; /* Blue */
    height: 20px;
    min-height: 20px;
    width: 20px;
    min-width: 20px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }