.headerContainer {
  margin-top: 110px;
  padding: 0px 30px;
  overflow: hidden;
  padding-bottom: 30px;
}

.headerContainer .topContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.headerContainer .topContainer .subHeading {
  display: block;
  font-weight: 400;
  font-size: 10px;
  color: #808080;
  text-align: center;
  position: absolute;
  bottom: -35px;
}

.headerContainer .topContainer .heading {
  font-size: 35px;
  font-weight: 700px;
  letter-spacing: 0.015em;
  text-align: center;
  margin-top: 15px;
  padding-left: 5%;
  padding-right: 5%;
}

.headerContainer .topContainer h6 {
  font-size: 16px;
  color: #404040;
  font-weight: 400;
  padding: 10px 0px;
  text-align: center;
}

.headerContainer .topContainer button {
  width: 210px;
  height: 50px;
  background: #ff3950;
  border-radius: 25px;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.headerContainer .topContainer button:hover {
  background: #ff4359;
}

.headerContainer .buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: auto;
  margin-top: 50px;
}

.headerContainer .buttonContainer button {
  background-color: #fff;
  color: #808080;
  font-size: 12px;
  border: none;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  text-align: center;
}

.headerContainer .buttonContainer .active {
  border-bottom: 2px solid #333333;
  font-weight: 500;
  color: #333333;
}

.headerContainer .imageWrapper {
  position: relative;
  margin-top: 60px;
}

.headerContainer .imageWrapper iframe {
  width: 80%;
  max-width: 80%;
}

.headerContainer .imageWrapper img {
  width: 70%;
  height: auto;
}

.headerContainer .imageWrapper .img1 {
  width: 12%;
  position: absolute;
  top: 20px;
  right: -5%;
}

.headerContainer .imageWrapper .img2 {
  width: 12%;
  position: absolute;
  bottom: 35px;
  right: -5%;
}

.headerContainer .imageWrapper .img3 {
  width: 12%;
  position: absolute;
  top: -30px;
  left: -5%;
}

.headerContainer .imageWrapper .img4 {
  width: 12%;
  position: absolute;
  bottom: -10px;
  left: -5%;
}

.headerContainer .img {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerContainer .youtube {
  position: absolute;
  height: 10%;
  width: 10%;
  max-width: 80px;
  max-height: 80px;
  cursor: pointer;
}

.headerContainer .wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-top: 50px;
}

.headerContainer .wrapper iframe {
  position: absolute;
  top: 0;
  width: 90%;
  height: 90%;
  left: 50%;
  transform: translate(-50%, 0);
}

/* Small Tablet Styles */
@media screen and (min-width: 620px) {
  .headerContainer .topContainer .subHeading {
    font-size: 12px;
  }

  .headerContainer .topContainer h1 {
    font-size: 40px;
  }

  .headerContainer .topContainer h6 {
    font-size: 20px;
    width: 100%;
  }

  .headerContainer .topContainer button {
    width: 250px;
  }

  .headerContainer .buttonContainer {
    width: 400px;
  }

  .headerContainer .buttonContainer button {
    font-size: 14px;
  }

  .headerContainer .imageWrapper {
    padding: 0px 50px;
  }

  .headerContainer .imageWrapper .img1 {
    right: 0%;
  }

  .headerContainer .imageWrapper .img2 {
    right: 0%;
  }

  .headerContainer .imageWrapper .img3 {
    left: 0%;
  }

  .headerContainer .imageWrapper .img4 {
    left: 0%;
  }
}

@media screen and (min-width: 960px) {
  .headerContainer .wrapper iframe {
    position: absolute;
    top: 0;
    width: 85%;
    height: 85%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .headerContainer .topContainer .heading {
    font-size: 55px;
    line-height: 85px;
  }

  .headerContainer .topContainer h6 {
    font-size: 20px;
    width: 80%;
    line-height: 35px;
  }

  .headerContainer .buttonContainer button {
    font-size: 16px;
  }
}