.creatorSpotlight {
  padding: 80px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.creatorSpotlight h1 {
  font-size: 48px;
  font-weight: bold;
  color: #000000;
}

.creatorSpotlight p {
  font-weight: 300;
  font-size: 18px;
  color: #404040;
}

.creatorSpotlight .emailContainer {
  margin-top: 40px;
}

.creatorSpotlight .emailContainer input {
  width: 293px;
  height: 39px;
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  border-radius: 5px;
  padding: 0px 10px;
}

.creatorSpotlight .emailContainer button {
  border: none;
  margin-left: 10px;
  width: 162px;
  height: 39px;
  background: #ff4359;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
}

.creatorSpotlight .quote {
  margin-top: 35px;
}

.creatorSpotlight .creatorInfo {
  display: flex;
}

.creatorSpotlight .creatorInfo div {
  font-weight: 600;
  font-size: 24px;
}

.creatorSpotlight .creatorInfo span {
  font-size: 24px;
  line-height: 36px;
  margin-left: 5px;
}

.creatorSpotlight .slider {
  overflow: auto;
  white-space: nowrap;
  width: 690px;
}

.creatorSpotlight .slider .card1 {
  display: inline-block;
  width: 690px;
  height: 165px;
}

.creatorSpotlight .profileContainer {
  overflow: auto;
  white-space: nowrap;
  position: relative;
  width: 345px;
  height: 423px;
}
.creatorSpotlight .profileContainer .card2 {
  display: inline-block;
}
.creatorSpotlight .profileImage {
  width: 345px;
  height: 423px;
}

.creatorSpotlight .profileImage2 {
  width: 345px;
  height: 423px;
  margin-left: 20px;
}

.creatorSpotlight .slider2 .arrow {
  position: relative;
  bottom: 40px;
  margin-left: 380px;
}

@media (max-width: 1024px) {
  .creatorSpotlight {
    padding: 80px 5px;
  }
  .creatorSpotlight .slider .card1 p {
    font-size: 16px;
  }
  .creatorSpotlight .slider {
    width: 640px;
  }
  .creatorSpotlight .slider .card1 {
    width: 640px;
  }
  .creatorSpotlight .profileContainer {
    margin-left: 22px;
  }
}

@media (max-width: 768px) {
  .creatorSpotlight {
    flex-direction: column;
  }
  .creatorSpotlight .profileContainer {
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .creatorSpotlight {
    display: block;
    margin-left: 10px;
  }
  .creatorSpotlight h1 {
    font-size: 40px;
  }
  .creatorSpotlight .emailContainer input {
    width: 203px;
    height: 39px;
  }
  .creatorSpotlight .slider {
    width: 380px;
    margin-left: 19px;
  }
  .creatorSpotlight .slider .card1 {
    width: 380px;
    white-space: normal;
  }
}

@media (max-width: 380px) {
  .creatorSpotlight h1 {
    font-size: 30px;
  }
  .creatorSpotlight .slider {
    width: 280px;
    margin-left: 0px;
  }
  .creatorSpotlight .emailContainer input {
    width: 280px;
    height: 39px;
  }
  .creatorSpotlight .emailContainer button {
    margin-top: 10px;
    margin-left: 60px;
  }
  .creatorSpotlight .slider .card1 {
    width: 280px;
    white-space: normal;
  }
  .creatorSpotlight .profileContainer {
    width: 280px;
    margin-left: 0%;
    border-radius: 5px;
  }
  .creatorSpotlight .profileImage {
    width: 280px;
  }

  .creatorSpotlight .profileImage2 {
    width: 280px;
  }

  .creatorSpotlight .slider2 .arrow {
    position: relative;
    bottom: 40px;
    margin-left: 285px;
  }
  .creatorSpotlight .creatorInfo div {
    font-size: 23px;
  }
}
