.creatorSection {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.creatorSection .brands {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.creatorSection .brands h5 {
  font-weight: 600;
  font-size: 24px;
}

.creatorSection .brands span {
  color: #c4c4c4;
  font-size: 36px;
  font-weight: bold;
  margin: 0px 10px;
}

/* info container */

.creatorSection .infoContainer {
  margin-top: 50px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creatorSection .infoContainer img {
  height: 280px;
  border-radius: 5px;
  width: auto;
  position: absolute;
  left: 15%;
  z-index: 2;
}

.creatorSection .infoContainer .info {
  position: absolute;
  background: rgba(248, 248, 249, 0.5);
  height: 400px;
  border-radius: 5px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0px;
  border-radius: 5px;
  right: 15%;
}

.creatorSection .infoContainer .info span {
  margin-left: 30%;
}

.creatorSection .infoContainer .info p {
  width: 65%;
  margin-left: 30%;
  font-weight: 500;
  font-size: 18px;
}

.creatorSection .infoContainer .info .name {
  margin-top: 10px;
  font-size: 14px;
}

.creatorSection .infoContainer .info .designation {
  font-size: 14px;
  color: #26272d;
}

/* button-container */

.creatorSection .buttonContainer {
  margin: 70px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creatorSection .buttonContainer button {
  background-color: #fff;
  border: none;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 20px;
  padding: 5px 20px;
  cursor: pointer;
}

.creatorSection .buttonContainer .button {
  border: 2px solid #ff4359;
  border-radius: 5px;
}

@media (max-width: 1024px) {
  .creatorSection {
    margin-top: -280px;
  }
  .creatorSection .infoContainer .info {
    right: 10%;
  }
  .creatorSection .infoContainer img {
    left: 10%;
  }

  .creatorSection .infoContainer .info p {
    margin-left: 30%;
  }
}

@media (max-width: 768px) {
  .creatorSection {
    margin-top: -230px;
  }
  .creatorSection .infoContainer img {
    left: 2%;
  }
  .creatorSection .infoContainer .info {
    right: 3%;
    width: 55%;
    padding: 30px 45px;
  }

  .creatorSection .buttonContainer {
    display: grid;
    grid-template-columns: 269px 269px 269px;
  }
}

@media (max-width: 480px) {
  .creatorSection .brands div {
    display: grid;
  }
  .creatorSection .infoContainer {
    flex-direction: column;
    margin: 30px;
  }
  .creatorSection .infoContainer img {
    height: 280px;
    border-radius: 5px;
    width: 100%;
    position: relative;
    margin-top: 100px;
    margin-bottom: 30px;
  }
  .creatorSection .infoContainer .info {
    position: relative;
    background: rgba(248, 248, 249, 0.5);
    width: auto;
    padding: 0px 0px;
    right: 0%;
    margin-left: 13px;
  }
  .creatorSection .infoContainer .info span {
    margin-left: 0%;
    margin-top: 10px;
  }
  .creatorSection .infoContainer .info p {
    width: 100%;
    margin-left: 0%;
  }
  .creatorSection .buttonContainer {
    display: grid;
    grid-template-columns: auto;
    margin-top: 130px;
  }
}
