.fifthBlackSection {
  padding: 30px;
  margin: 30px;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
}

.fifthBlackSection h1 {
  font-size: 32px;
}

.fifthBlackSection button {
  margin-top: 30px;
  border: none;
  padding: 0px 20px;
  height: 40px;
  border-radius: 5px;
  background: #ff3950;
  color: #fff;
  font-size: 16px;
}

.fifthBlackSection button:hover {
  background: #ff4359;
}

@media screen and (min-width: 960px) {
  .fifthBlackSection {
    padding: 80px;
    margin: 80px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fifthBlackSection h1 {
    font-size: 48px;
  }

  .firstBlackSection {
    padding: 50px;
    font-size: 36px;
  }

  .fifthBlackSection button {
    margin-top: 0px;
    width: 200px;
    height: 50px;
    font-size: 18px;
    margin-left: 100px;
  }
}