.fourthBlackSection {
  padding: 30px;
  background-color: #000;
}

.fourthBlackSection h1 {
  font-size: 32px;
  color: #fff;
  font-size: 700;
  text-align: center
}

.fourthBlackSection h5 {
  font-size: 14px;
  color: #c4c4c4;
  font-weight: 400;
  padding: 10px 0px;
  text-align: center
}

.fourthBlackSection .grid {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourthBlackSection .box {
  border-radius: 10px;
  position: relative;
  height: 200px;
  width: 100%;
  max-width: 300px;
  margin-bottom: 60px;
}

.fourthBlackSection .box2 {
  background-color: #fff;
  border-radius: 10px;
  height: 200px;
  width: 100%;
  position: absolute;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 20px;
  left: 20px;
}

.fourthBlackSection .box2 span {
  font-size: 26px;
}

.fourthBlackSection .box2 h4 {
  font-size: 22px;
  font-weight: 600;
}

.fourthBlackSection .box2 p {
  font-size: 14px;
  margin-top: 5px;
}

.fourthBlackSection .box1 {
  background: linear-gradient(104.04deg, #ff8a25, #ffd75f);
}

.fourthBlackSection .box1 h4 {
  background: linear-gradient(104.04deg, #ff8a25, #ffd75f);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fourthBlackSection .box3 {
  background: linear-gradient(104.04deg, #0078ff, #00ecc2);
}

.fourthBlackSection .box3 h4 {
  background: linear-gradient(104.04deg, #0078ff, #00ecc2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fourthBlackSection .box4 {
  background: linear-gradient(104.55deg, #00ecc2, #ffd75f 104.82%);
}

.fourthBlackSection .box4 h4 {
  background: linear-gradient(104.55deg, #00ecc2, #ffd75f 104.82%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fourthBlackSection .box5 {
  background: linear-gradient(104.04deg, #ff4359, #ff8a25);
}

.fourthBlackSection .box5 h4 {
  background: linear-gradient(104.04deg, #ff4359, #ff8a25);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Small Tablet Styles */
@media screen and (min-width: 620px) {
  .fourthBlackSection h1 {
    font-size: 42px;
  }
  
  .fourthBlackSection h5 {
    font-size: 16px;
  }

  .fourthBlackSection .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-items: center;
    justify-items: center;
  }
}

/* Small Tablet Styles */
@media screen and (min-width: 960px) {
  .fourthBlackSection h1 {
    font-size: 48px;
  }
  
  .fourthBlackSection h5 {
    font-size: 18px;
  }

  .fourthBlackSection {
    padding: 80px;
  }

  .fourthBlackSection .box {
    width: 100%;
    max-width: 80%;
    height: 250px;
  }

  .fourthBlackSection .box2 {
    height: 250px;
  }

  .fourthBlackSection .box2 span {
    font-size: 32px;
  }
  
  .fourthBlackSection .box2 h4 {
    font-size: 28px;
    font-weight: 600;
  }
  
  .fourthBlackSection .box2 p {
    font-size: 16px;
    margin-top: 5px;
  }
}