.worldOfCreator {
  padding: 100px 80px;
}

.worldOfCreator .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.worldOfCreator .head h1 {
  font-weight: bold;
  font-size: 48px;
}

.worldOfCreator .head button {
  width: 121px;
  height: 39px;
  border: 0.5px solid #808080;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 500;
  font-size: 14px;
}

.worldOfCreator .blogs {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.worldOfCreator .blogs .part1 .imageContainer {
  width: 543.25px;
  height: 325.34px;
  position: relative;
}

.worldOfCreator .blogs .part1 .imageContainer .box {
  width: 543.25px;
  height: 325.34px;
  background: linear-gradient(104.04deg, #ff8a25 0%, #ffd75f 100%);
  border-radius: 10px;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: -1;
}

.worldOfCreator .blogs .part2 .imageContainer2 {
  width: 589px;
  height: 176px;
  position: relative;
}

.worldOfCreator .blogs .part2 .imageContainer2 .box2 {
  width: 264px;
  height: 176px;
  background: linear-gradient(104.04deg, #ff8a25 0%, #ffd75f 100%);
  border-radius: 10px;
  position: absolute;
  top: -15px;
  left: -15px;
  z-index: -1;
}

.worldOfCreator .blogs .part1 .imageContainer img {
  width: 543.25px;
  height: 325.34px;
  border-radius: 10px;
}
.worldOfCreator .blogs .part1 {
  margin-bottom: 30px;
  margin-left: 20px;
}
.worldOfCreator .blogs .part1 h3 {
  width: 500px;
  margin-top: 30px;
  font-weight: 500;
  font-size: 24px;
  color: #101010;
}

.worldOfCreator .blogs .part1 p {
  width: 500px;
  margin-top: 30px;
  font-size: 18px;
  color: #404040;
}

.worldOfCreator .blogs .part1 span {
  display: block;
  font-size: 16px;
  color: #808080;
  margin-top: 30px;
}

.worldOfCreator .blogs .part2 {
  width: 589px;
}

.worldOfCreator .blogs .part2 .card {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.worldOfCreator .blogs .part2 .card .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
}

.worldOfCreator .blogs .part2 img {
  width: 264px;
  height: auto;
  border-radius: 10px;
}

.worldOfCreator .blogs .part2 p {
  font-weight: 500;
  font-size: 24px;
  color: #101010;
  margin-right: 25px;
}

.worldOfCreator .blogs .part2 span {
  font-size: 16px;
  color: #808080;
}

@media (max-width: 1024px) {
  .worldOfCreator .blogs {
    flex-direction: column;
  }
  .worldOfCreator {
    padding: 100px 80px;
  }
}

@media (max-width: 480px) {
  .worldOfCreator {
    padding: 100px 20px;
  }
  .worldOfCreator .head {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .worldOfCreator .head h1 {
    font-size: 30px;
  }
  .worldOfCreator .head button {
    margin-top: 30px;
  }

  .worldOfCreator .blogs .part1 .imageContainer {
    width: 380px;
    height: 250px;
    margin-right: 5px;
  }

  .worldOfCreator .blogs .part1 .imageContainer .box {
    width: 380px;
    height: 250px;
  }
  .worldOfCreator .blogs .part1 .imageContainer img {
    width: 380px;
    height: 250px;
  }
  .worldOfCreator .blogs .part1 h3 {
    width: 380px;
  }
  .worldOfCreator .blogs .part1 p {
    width: 380px;
  }
  .worldOfCreator .blogs .part2 .card {
    flex-direction: column-reverse;
  }
  .worldOfCreator .blogs .part2 {
    width: 380px;
    margin-top: 30px;
    margin-right: 5px;
  }
  .worldOfCreator .blogs .part2 .imageContainer2 {
    width: 380px;
    margin-left: 10px;
  }
  .worldOfCreator .blogs .part2 img {
    width: 380px;
  }
  .worldOfCreator .blogs .part2 .imageContainer2 .box2 {
    width: 380px;
    height: 250px;
  }
  .worldOfCreator .blogs .part2 p {
    margin-top: 90px;
  }
}

@media (max-width: 380px) {
  .worldOfCreator .blogs .part1 .imageContainer {
    width: 280px;
  }
  .worldOfCreator .blogs .part1 .imageContainer .box {
    width: 280px;
    height: 200px;
  }
  .worldOfCreator .blogs .part1 .imageContainer img {
    width: 280px;
    height: 200px;
  }
  .worldOfCreator .blogs .part1 h3 {
    width: 280px;
  }
  .worldOfCreator .blogs .part1 p {
    width: 280px;
  }
  .worldOfCreator .blogs .part1 span {
  }

  .worldOfCreator .blogs .part2 {
    width: 300px;
    margin-top: 30px;
    margin-left: 15px;
  }
  .worldOfCreator .blogs .part2 .imageContainer2 {
    width: 280px;
  }
  .worldOfCreator .blogs .part2 img {
    width: 280px;
    height: 200px;
  }
  .worldOfCreator .blogs .part2 .imageContainer2 .box2 {
    width: 280px;
    height: 200px;
  }
  .worldOfCreator .blogs .part2 p {
    margin-top: 30px;
    font-size: 16px;
  }
}
