.blur {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.newLoginContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: 0px 20px;
}

.newLoginContainer .loginForm {
    background: #fff;
    height: calc(100vh - 110px);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
}

.newLoginContainer .loginForm .container {
    max-width: 432px;
    padding: 20px;
}

.newLoginContainer .loginForm .container h1 {
    font-size: 24px;
    letter-spacing: 0.02em;
    font-weight: 600;
}

.newLoginContainer .loginForm .container .p {
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #333333;
    margin-top: 10px;
}

.newLoginContainer .loginForm .container .p1 {
    font-size: 12px;
    letter-spacing: 0.02em;
    font-weight: 300;
    color: #333333;
}

.newLoginContainer .loginForm .container a {
    color: #333333;
}

.newLoginContainer .loginForm .container .buttonContainer {
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.newLoginContainer .loginForm .container .buttonContainer button {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #F8F8F9;
    border-radius: 5px;
    cursor: pointer;
}

.newLoginContainer .loginForm .container .buttonContainer button:hover {
    background: rgba(196, 196, 196, 0.4);
}

.newLoginContainer .loginForm .container .buttonContainer button span {
    font-size: 16px;
    font-weight: 500;
}

.newLoginContainer .loginForm .container .buttonContainer button:nth-child(1) {
    margin-bottom: 20px;
}

.newLoginContainer .loginForm .container .buttonContainer button svg {
    height: 30px;
    width: 30px;
    margin-right: 20px;
}


/* Info Container */
.newLoginContainer .info {
    height: calc(100vh - 110px);
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.newLoginContainer .info .leftContainer {
    height: calc(100vh - 110px);
}

.newLoginContainer .info .rightContainer {
    height: calc(100vh - 110px);
}

.newLoginContainer .info .box1 {
    height: 20%;
    width: 100%;
    background: #0078ff;
    border-radius: 10px;
}

.newLoginContainer .info .box2 {
    margin-top: 20px;
    height: calc(40% - 20px);
    width: 100%;
    background: #8a43ff;
    border-radius: 10px;
}

.newLoginContainer .info .box3 {
    margin-top: 20px;
    height: calc(40% - 20px);
    width: 100%;
    background: #ff43ca;
    border-radius: 10px;
}

.newLoginContainer .info .box4 {
    height: 40%;
    width: 100%;
    background: #ff8a25;
    border-radius: 10px;
}

.newLoginContainer .info .box5 {
    margin-top: 20px;
    height: calc(40% - 20px);
    width: 100%;
    background: #ffd75f;
    border-radius: 10px;
}

.newLoginContainer .info .box6 {
    margin-top: 20px;
    height: calc(20% - 20px);
    width: 100%;
    background: #00ecc2;
    border-radius: 10px;
}

.loader {
    display: block;
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #ff4359; /* Blue */
    height: 20px;
    min-height: 20px;
    width: 20px;
    min-width: 20px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media screen and (max-width: 650px) {
    .newLoginContainer .info {
        display: none;
    }

    .newLoginContainer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
        margin: 0px 10px;
    }

    .newLoginContainer .loginForm .container {
        padding: 10px;
    }

    .newLoginContainer .loginForm .container h1 {
        font-size: 20px;
    }

    .newLoginContainer .loginForm .container .p {
        font-size: 12px;
    }

    .newLoginContainer .loginForm .container .p1 {
        font-size: 10px;
    }

    .newLoginContainer .loginForm .container .buttonContainer button span {
        font-size: 14px;
    }

    .newLoginContainer .loginForm .container .buttonContainer button svg {
        height: 24px;
        width: 24px;
    }
}