.loginEmailPopup {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    background-color: transparent;
}

.show {
    background-color: rgba(0, 0, 0, 0.4);
}

.loginEmailPopupContainer .card {
    padding: 25px;
    background-color: #fff;
    border-radius: 5px;
    max-width: 480px;
}

.loginEmailPopupContainer .card .head {
    display: flex;
    align-items: center;
}

.loginEmailPopupContainer .card .head svg {
    cursor: pointer;
}

.loginEmailPopupContainer .card .head h2 {
    margin-left: 20px;
    font-size: 22px;
    font-weight: 600;
}

.loginEmailPopupContainer .card p {
    margin-top: 10px;
    color: #333333;
    letter-spacing: 0.02em;
}

.loginEmailPopupContainer .inputContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.loginEmailPopupContainer .inputContainer label {
    font-weight: 500;
    letter-spacing: 0.02em;
}

.loginEmailPopupContainer .inputContainer input {
    height: 50px;
    padding: 10px 20px;
    border: 1px solid #808080;
    border-radius: 5px;
    margin-top: 5px;
}

.loginEmailPopupContainer .inputContainer input:focus {
    border: 1px solid #000;
}

.loginEmailPopupContainer button {
    width: 100%;
    margin-top: 15px;
    background: #F8F8F9;
    border-radius: 5px;
    height: 50px;
    border: none;
    color: rgba(128, 128, 128, 0.8);
    font-size: 18px;
    font-weight: 500;
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginEmailPopupContainer .active {
    background: #FF4359;
    color: #fff;
    cursor: pointer;
}

.loginEmailPopupContainer .code {
    margin-top: 25px;
    color: #808080;
    font-size: 14px;
}

.loginEmailPopupContainer .link {
    color: #000;
    cursor: pointer;
}

.loginEmailPopupContainer .link:hover {
    text-decoration: underline;
}

.loader {
    display: block;
    border: 3px solid #f3f3f3;
    /* Light grey */
    border-top: 3px solid #ff4359;
    /* Blue */
    height: 20px;
    min-height: 20px;
    width: 20px;
    min-width: 20px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}