.mainContainer{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 5%;
}

header .headingSection {
  width: 100%;
  height: fit-content;
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

header .headingSection h1 {
  width: 100%;
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 85px;
  text-align: center;
  letter-spacing: 0.015em;
  color: #000000;
}

header .headingSection p {
  width: 90%;
  font-size: 20px;
  color: #404040;
  margin-top: 20px;
}

header .headingSection div {
  margin-top: 30px;
}

header .headingSection button {
  padding: 9px;
  width: 275px;
  height: 52px;
  background: #ff4359;
  border-radius: 25px;
  margin: 0px 10px;
  border: none;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
}

.appsCardBlock {
  width: 100%;
  height: fit-content;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.appsCardBlock h1 {
  font-weight: bold;
  font-size: 32px;
}

.appsCardBlock p {
  font-weight: 300;
  font-size: 16px;
  color: #404040;
}

.appsCardBlock .emailContainer {
  margin-top: 40px;
}

.appsCardBlock .emailContainer input {
  width: 293px;
  height: 39px;
  background: #ffffff;
  border: 0.5px solid #c4c4c4;
  border-radius: 5px;
  padding: 0px 10px;
}

.appsCardBlock .emailContainer button {
  border: none;
  width: 200px;
  height: 39px;
  background: #ff4359;
  border-radius: 5px;
  /* margin-left: 10px; */
  color: #fff;
  cursor: pointer;
}

/* .appsCardBlock .slider {
  width: 100%;
  height: fit-content;
  margin-top: 75px;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
} */

.appsCardBlock .scroll_container_main{
  width: 100%;
  height: fit-content;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appsCardBlock .scroll_container_main .head{
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.appsCardBlock .scroll_container_main .head h4{
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.32px;
  line-height: 27px;
}
.appsCardBlock .scroll_container_main .head svg{
  width: 20px;
  height: 20px;
}
.appsCardBlock .scroll_container_main .scroll_container{
  width: 100%;
  height: fit-content;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.appsCardBlock .scroll_container_main .app{
  display: flex;
  flex-direction: column;
  width: 200px;
  height: fit-content;
  margin-right: 20px;
  cursor: pointer;
  margin-top: 5px;
}
.appsCardBlock .scroll_container_main .app_box{
  width: 200px;
  height: 113.5px;
  background: #0078ff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 5px;
  padding-bottom: 0;
}
.appsCardBlock .scroll_container_main .app_box span{
  margin-top: 5px;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.appsCardBlock .scroll_container_main .app_box img{
  padding: 0 !important;
  margin: 0 !important;
  margin-top: 5px !important;
  width: 150px;
  min-height: 90px !important;
  object-fit: contain;
  background-position: center;
}
.appsCardBlock .scroll_container_main .app_box .circle{
  width: 60px;
  height: 60px;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.appsCardBlock .scroll_container_main .app_box .circle img{
  width: 34px !important;
  min-height: 34px !important;
  margin: 0 !important;
}
.appsCardBlock .scroll_container_main .app_name{
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  color: #000000;
}
.appsCardBlock .scroll_container .app_info{
  font-size: 12px;
  font-weight: 400;
  color: #404040;
}





















.appsCardBlock .slider .card {
  display: flex;
  flex-direction: column;
  width: 200px;
  min-width: 200px;
  margin-right: 30px;
  cursor: pointer;
}

.appsCardBlock .slider .card .box {
  width: 200px;
  height: 113.33px;
  background: #0078ff;
  border-radius: 10px;
}

.appsCardBlock .slider .card span:nth-child(2) {
  margin-top: 5px;
  font-weight: 600;
  font-size: 18px;
}

.appsCardBlock .slider .card span:nth-child(3) {
  font-size: 14px;
  color: #404040;
}

.appsCardBlock .slider .card .box1 {
  background: #00ecc2;
}

.appsCardBlock .slider .card .box2 {
  background: #ff8a25;
}

.appsCardBlock .slider .card .box3 {
  background: #ff43ca;
}

.appsCardBlock .slider .card .box4 {
  background: #ffd75f;
}

.appsCardBlock .slider .card .box5 {
  background: #43ddff;
}
/* .fifthBlackSection {
  width: 100%;
  margin: 100px;
  height: 400px;
  background: #000000;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fifthBlackSection h1 {
  font-weight: bold;
  font-size: 48px;
}

.fifthBlackSection button {
  width: 184px;
  height: 50px;
  background: #ff4359;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600px;
} */


@media (max-width: 768px) {
  .appsCardBlock {
    align-items: center;
    text-align: center;
  }

}

/* @media (max-width: 1024px) {
  .fifthBlackSection {
    margin: 30px;
    padding: 0px 30px;
  }
} */

/* @media (max-width: 768px) {
  .fifthBlackSection {
    flex-direction: column;
    text-align: center;
  }
  .fifthBlackSection h1 {
    margin-top: 30px;
  }
  .fifthBlackSection button {
    width: 250px;
    height: 70px;
    margin-bottom: 50px;
  }
}
@media (max-width: 480px) {
  .fifthBlackSection {
    height: 600px;
  }
}

@media (max-width: 380px) {
  .fifthBlackSection {
    height: 550px;
  }
  .fifthBlackSection h1 {
    font-size: 40px;
  }
  .fifthBlackSection button {
    width: 170px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .appsCardBlock {
    padding: 100px 0px;
    padding-left: 20px;
  }
  .appsCardBlock .emailContainer button {
    margin-top: 30px;
    width: 295px;
    margin-left: 0px;
  }
} */
