.articleByCard {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    background: #f8f8f9;
    padding: 10px;
}

.articleByCard .profileImage {
    width: 40%;
    height: 40%;
    object-fit: cover;
}

.articleByCard .profileImage img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.articleByCard .profileInfo {
    margin-top: 30px;
    width: 50%;
    margin-left: 30px;
}

.articleByCard .profileInfo h5 {
    margin-top: 20px;
    font-size: 25px;
}

.articleByCard .profileInfo p {
    margin-top: 5px;
    font-size: 15px;
    line-height: 2em;
}

.articleByCard .profileInfo .socialMedia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    margin-top: 10px;
}

.articleByCard .profileInfo .socialMedia .twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #EBEBEB;
    border-radius: 5px;
    cursor: pointer;
}

.articleByCard .profileInfo .socialMedia .twitter:hover {
    background: #19a6ff;
}

.articleByCard .profileInfo .socialMedia .twitter:hover svg path {
    fill: #FFFFFF;
}

.articleByCard .profileInfo .socialMedia .linkedin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #EBEBEB;
    border-radius: 5px;
    cursor: pointer;
}

.articleByCard .profileInfo .socialMedia .linkedin:hover {
    background: #0177B5;
}

.articleByCard .profileInfo .socialMedia .linkedin:hover svg path {
    fill: #FFFFFF;
}

.articleByCard .profileInfo .socialMedia .instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #EBEBEB;
    border-radius: 5px;
    cursor: pointer;
}

.articleByCard .profileInfo .socialMedia .instagram:hover {
    background: linear-gradient(-45deg, #fccc63 0%, #fccc63 5%, #ff5a5f 45%, #ff5a5f 55%, #ffbd2e 95%, #ffbd2e 100%);
    background-size: 200% 200%;
    transition: all 0.3s ease;
}

.articleByCard .profileInfo .socialMedia .instagram:hover svg path {
    fill: #FFFFFF;
}

@media screen and (max-width: 600px) {
    .articleByCard {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .articleByCard .profileImage {
        width: 100%;
    }

    .articleByCard .profileInfo {
        width: 100%;
    }
}