.navigationBar {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
}

.navigationBar .row {
  display: flex;
  align-items: center;
}

.navigationBar .logo {
  width: 60px;
  cursor: pointer;
}

.navigationBar .big {
  font-size: 16px;
  margin-left: 10px;
  font-weight: 600;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.navigationBar .small {
  font-weight: 300;
  cursor: pointer;
}

.navigationBar .searchContainer {
  display: none;
}

.navigationBar .searchContainer .loginButtonContainer {
  display: flex;
  align-items: center;
}

.navigationBar .searchContainer .loginButtonContainer input {
  margin-right: 10px;
  background-image: url('../public/Assets/search.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 35px 20px;
  padding-left: 30px;
  padding-right: 10px;
  border: 1px solid #FFA5AC;
  border-radius: 5px;
  margin-left: 20px;
  height: 35px;
  width: 200px;
}

.navigationBar .searchContainer .loginButtonContainer .bold {
  font-weight: 500;
  color: #000;
  font-size: 18px;
  margin-right: 20px;
  margin-left: 20px;
  text-decoration: none;
}


.navigationBar .searchContainer .loginButton {
  display: flex;
  background-color: #f8f8f9;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  color: #000 !important;
  font-size: 16px !important;
  letter-spacing: 0.02em;
  border: none;
  cursor: pointer;
}

.navigationBar .searchContainer .loginButton:hover {
  background-color: #dfe0e1;
}

.navigationBar .searchContainer .signupButton {
  display: flex;
  background-color: #ff3950;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: none;
  color: #fff !important;
  font-size: 16px !important;
  letter-spacing: 0.02em;
  margin-left: 20px;
  cursor: pointer;
}

.signupButton:hover {
  background-color: rgba(255, 67, 89, 1);
}


/* Small Tablet Styles */
@media screen and (min-width: 960px) {
  .navigationBar {
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
  }

  .navigationBar .logo {
    width: 80px
  }

  .navigationBar .big {
    font-size: 18px;
  }

  .navigationBar .searchContainer {
    display: flex
  }

  .navigationBar .searchContainer svg {
    margin-right: 10px;
  }

  .navigationBar .searchInfo {
    display: flex;
  }

  .navigationBar .searchInfo span {
    font-size: 18px;
    font-weight: 500;
  }
}