.cookieContainer {
    padding: 10px;
    background: #fff;
    border: 1px solid #000000;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 20000000099 !important;
    width: 250px;
}

.cookieContainer p {
    font-size: 10px;
}

.cookieContainer .buttonContainer {
    margin-top: 10px;
}

.cookieContainer .buttonContainer button:nth-child(1) {
    background-color: #fff;
    border: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    width: 100px;
    height: 30px;
}

.cookieContainer .buttonContainer button:nth-child(2) {
    background: #000000;
    border-radius: 2px;
    border: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    width: 100px;
    height: 30px;
    color: #fff;
}