@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

*::selection {
  background-color: #ff4359;
  color: #fff;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

textarea {
  font-family: 'Poppins', sans-serif;
}

input {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
}

button {
  font-family: 'Poppins', sans-serif;
}

textarea:focus {
  outline: none;
}

*:focus {
  outline: none;
}

*::-webkit-scrollbar {
  display: none;
}

#credential_picker_container {
  top: 60px !important;
}

#loading-auth-box {
  position: absolute;
  background-color: #fff;
  height: 100vh;
  width: 100vw;
}

.loader {
  display: block;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #ff4359; /* Blue */
  height: 20px;
  min-height: 20px;
  width: 20px;
  min-width: 20px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}