.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.pricing {
  margin-top: 100px;
  padding: 0px 30px;
}

.pricing h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-align: center;
}

.pricing h5 {
  font-size: 16px;
  color: #404040;
  font-weight: 400;
  padding: 10px 0px;
  text-align: center;
}

.pricing .grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 20px;
  justify-items: center;
}

.pricing .grid .card {
  border: 1px solid #dcdcdc;
  padding: 20px;
  border-radius: 10px;
  max-width: 350px;
}

.pricing .grid .card h2 {
  font-size: 22px;
  font-weight: 600;
}

.pricing .grid .card p {
  font-size: 12px;
}

.pricing .grid .card .price {
  display: block;
  padding: 10px 0px;
}

.pricing .grid .card .price strong {
  font-size: 22px;
}

.pricing .grid .card .price span {
  font-size: 14px;
  font-weight: 300;
}

.pricing .grid .card .subCard {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
}

.pricing .grid .card .subCard svg {
  margin-right: 10px;
}

.pricing .grid .card a{
  display: flex;
  margin-top: 20px;
  text-decoration: none;
  font-size: 16px;
}

.pricing .grid .card button {
  height: 40px;
  padding: 5px 30px;
  background: #ff4359;
  border-radius: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.pricing .grid .card button:hover {
  background: #ff3950;
}

.pricing .helpBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

.pricing .helpBox .box {
  border-radius: 10px;
  background: #0078ff;
  padding: 25px;
  color: #fff;
}

.pricing .helpBox .box h2 {
  font-size: 22px;
  font-weight: 600;
}

.pricing .helpBox .box h4 {
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0px;
}

.pricing .helpBox .box button {
  padding: 8px 20px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #0078ff;
  font-weight: 600;
  cursor: pointer;
}

.pricing .helpBox .box button:hover {
  background-color: rgb(255, 245, 245);
}

/* Black box started */
.pricing .blackBox {
  background-color: #000;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  margin-top: 30px;
}

.pricing .blackBox h4 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.pricing .blackBox button {
  background: #ff4359;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 8px 15px;
  cursor: pointer;
}

.pricing .blackBox button:hover {
  background: #ff3950;
}

/* Small Tablet Styles */
@media screen and (min-width: 620px) {
  .pricing h1 {
    font-size: 52px;
  }
  
  .pricing h5 {
    font-size: 18px;
  }

  .pricing .helpBox .box {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .pricing .helpBox .box h2 {
    font-size: 38px;
  }

  .pricing .helpBox .box h4 {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .pricing .helpBox .box button {
    padding: 12px 40px;
    font-size: 18px;
  }

  .pricing .blackBox h4 {
    font-size: 38px;
  }
}

/* Small Tablet Styles */
@media screen and (min-width: 960px) {
  .pricing h5 {
    width: 50%;
    margin: auto;
  }

  .pricing .helpBox .box {
    padding: 50px 180px;
  }

  .pricing  .blackBox h4 {
    font-size: 48px;
    width: 70%;
  }

  .pricing  .blackBox {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .pricing .blackBox button {
    padding: 15px 30px;
    font-size: 18px;
  }
}