.box {
  background: #f8f8f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 97%;
  height: auto;
  background-color: white;
  margin-top: 90px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-bottom: 93px;
}

.container h1 {
  margin-top: 75px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}

.container h2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ff4359;
}

.container p {
  margin-top: 60px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  letter-spacing: 0.02em;
  margin-left: 83px;
  margin-right: 81px;
}

.container .points {
  margin: 0%;
  margin-left: 83px;
  margin-right: 81px;
}

.container .points h1 {
  margin: 0%;
  padding-top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0.02em;
}

.container .points p {
  margin: 0%;
  padding-top: 30px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  letter-spacing: 0.02em;
}

.container .points span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: justify;
  letter-spacing: 0.02em;
}

.blackBoxContainer {
  background: #f8f8f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blackBoxContainer .blackBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 97%;
  height: 600px;
  background: black;
  border-radius: 10px;
  margin-bottom: 20px;
}

.blackBoxContainer .blackBox .taglines h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
}

.blackBoxContainer .blackBox .taglines button {
  margin-top: 35px;
  padding: 11.5px 21px 11.5px 21px;
  background: #ff4359;
  border: none;
  border-radius: 5px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
