.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 119px;
}

.header h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}

.header form {
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  margin: 0 0 30px;
  width: 669px;
}

.header input[type='search'] {
  border: none;
  background: transparent;
  margin-top: 15px;
  padding: 7px 8px;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: inherit;
}

.header input.nosubmit {
  border: 3px solid #ffd75f;
  width: 100%;
  padding: 9px 4px 9px 40px;
  background: transparent
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
}

.header form.nosubmit {
  border: none;
  padding: 0;
}

.header .headerImage {
  margin-top: 70px;
}

.header .seeAll {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header .seeAll span {
  margin-top: 70px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #0078ff;
}

.header .seeAll .downArrow {
  margin-top: 72px;
  font-weight: 500;
  font-size: 10px;
  margin-left: 10px;
}

/* App info section */

.appInfoSection {
  padding: 0px 80px;
}

.appInfoSection .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.appInfoSection .card .info h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #000000;
}

.appInfoSection .card .info p {
  margin-top: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  color: #404040;
}

.appInfoSection .card .info .quote {
  margin-top: 20px;
  color: #404040;
  font-size: 18px;
}

.appInfoSection .card .info .profile {
  margin-top: 20px;
  display: flex;
}

.appInfoSection .card .info .profileImage {
  background-image: url('https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fHByb2ZpbGV8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.appInfoSection .card .info .profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
}

.appInfoSection .card .info .profileInfo span:nth-child(1) {
  font-weight: 500;
  font-size: 14px;
}

.appInfoSection .card .info .profileInfo span:nth-child(2) {
  font-weight: 300;
  font-size: 14px;
  color: #404040;
}

.appInfoSection .showCase {
  width: 45%;
  height: 470px;
  background: #fff;
  border-radius: 10px;
  position: relative;
  margin-top: 30px;
}

.appInfoSection .showCase .box {
  position: absolute;
  width: 100%;
  height: 470px;
  background: linear-gradient(113.6deg, #00ecc2 0%, #ffd75f 100%);
  border-radius: 10px;
  position: relative;
  z-index: -1;
  top: -20px;
  left: -20px;
  filter: drop-shadow(0px 4px 25px rgba(0, 0, 0, 0.1));
}

.appInfoSection .card .showCase .box5 {
  background: linear-gradient(113.6deg, #ff8a25 0%, #ffd75f 100%);
}

.appInfoSection .card .info button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 256px;
  height: 40px;
  background: linear-gradient(94.22deg, #ff8a25 0%, #ffd75f 100%);
  border-radius: 33px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  border: none;
}

/* Quotes of the day */

.quoteoftheday {
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quoteoftheday span {
  width: 60%;
  margin-top: 35px;
  font-family: 'Noto Serif';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #000000;
}

.seeAllQuotes {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.seeAllQuotes span {
  margin-top: 50px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #0078ff;
}

.seeAllQuotes .downArrow {
  margin-top: 52px;
  font-weight: 500;
  font-size: 10px;
  margin-left: 10px;
}

.famousAuthor {
  margin-top: 130px;
  display: flex;
  justify-content: center;
}

.famousAuthor .authorHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.famousAuthor .authorHeading h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #000000;
}

.famousAuthor .authorHeading button {
  width: 99px;
  height: 40px;
  background: linear-gradient(94.22deg, #ff8a25 0%, #ffd75f 100%);
  border-radius: 33px;
  border: none;
  color: #ffffff;
  cursor: pointer;
}

.gridContainer {
  display: flex;
  justify-content: center;
}

.authorGrid {
  margin-top: 30px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto auto auto auto auto auto;
  width: 90%;
}

.gridItem {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #000000;
  margin-top: 10px;
  cursor: pointer;
}

.fifthBlackSection {
  margin: 100px;
  height: 400px;
  background: #000000;
  border-radius: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 80px;
}

.fifthBlackSection h1 {
  font-weight: bold;
  font-size: 48px;
}

.fifthBlackSection button {
  width: 184px;
  height: 50px;
  background: #ff4359;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600px;
  cursor: pointer;
}

.searchContainerCenter {
  height: calc(100vh - 90px);
  background-color: #ffffff;
  border-top-left-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow: scroll;
  padding-bottom: 0px;
}

.searchContainerCenter .inputContainer {
  width: 60%;
  height: 50px;
  position: relative;
  align-self: center;
  margin-bottom: 10px;
}

.searchContainerCenter .inputContainer input {
  border: 3px solid #ffd75f;
  border-radius: 5px;
  width: 100%;
  height: 50px;
  padding: 0px 30px;
}

.searchContainerCenter .inputContainer img {
  position: absolute;
  left: 7px;
  top: 10px;
}

.searchContainerCenter .card {
  background: rgba(248, 248, 249, 0.9);
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.searchContainerCenter .card:hover {
  background: rgba(255, 215, 95, 0.05);
}

.searchContainerCenter .card .authorContainer {
  display: flex;
  width: 100%;
  margin-top: 10px;
}

.searchContainerCenter .functions {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  width: 98%;
  background: rgba(248, 248, 249, 0.8);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.searchContainerCenter .functions .img1 {
  cursor: pointer;
  margin: 0px 10px;
}

.searchContainerCenter .functions .img2 {
  cursor: pointer;
  margin-top: 5px;
}

.searchContainerCenter .card span {
  font-size: 12px;
  color: #404040;
  width: 150px;
}

.searchQuote {
  width: 90%;
}
