.articleContainer {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 0px 24%;
  position: relative;
  scroll-behavior: smooth;
}

.articleContainer .topSection h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  letter-spacing: 0.025em;
  color: #000000;
}

.articleContainer .topSection p {
  margin-top: 10px;
  font-style: italic;
  font-size: 21px;
  line-height: 31px;
  letter-spacing: 0.025em;
  color: #404040;
}

.articleContainer .topSection div {
  margin-top: 20px;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.025em;
  color: #404040;
}

.articleContainer .topSection div span {
  margin-right: 20px;
}

/* tags css  */
.articleContainer .topSection div .tag {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.025em;
  color: #ff43ca;
  background: rgba(255, 67, 202, 0.1);
  border-radius: 15px;
  padding: 4px 16px;
  /* change 8px to 4px top-bottom */
  margin-bottom: 3px;
}

/* blog left side  */
.articleContainer .topSection .blogLeft {
  width: 20%;
  left: 3%;
  position: absolute;
  position: -webkit-sticky;
  top: 0px;
  height: 100%;
  /* overflow-y: scroll; */
}

/* blog right side  */
.articleContainer .topSection .blogRight {
  width: 20%;
  right: 3%;
  position: absolute;
  position: -webkit-sticky;
  top: 0px;
  height: 100%;
  /* margin-bottom: 100px; */
}

.blogSideBox {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  opacity: 0;
  margin-top: 200px;
  /* animation: display-side 0.3s; */
  transition: all 300ms ease;
}

.blogSideBox .sideChildBox {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  padding: 0px 5% 0px 20%;
  text-overflow: ellipsis;
}

.blogLeft .blogSideBox .sideChildBox {
  padding: 0px 20% 0px 10%;
}

.blogSideBox .sideChildBox img {
  border-radius: 50%;
}

.blogSideBox .sideChildBox .authorProfilePic {
  width: 50px;
  height: 50px;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.blogSideBox .sideChildBox h4 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  letter-spacing: 0.025em;
  font-weight: 600;
  text-overflow: clip;
  color: #000000;
}

.blogSideBox .sideChildBox p {
  margin: 0px 0;
  font-size: 11px;
  font-weight: 400;
  line-height: normal;
  font-style: normal;
  color: #333333;
}

.blogSideBox .sideChildBox .inputwrapper {
  position: relative;
  width: 100%;
}

.blogSideBox .sideChildBox button {
  margin-top: 10px;
  background: #ff4359;
  border-radius: 5px;
  color: #fff;
  width: 100%;
  height: 27px;
  border: none;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 00.025em;
  cursor: pointer;
}

.blogSideBox .sideChildBox .inputwrapper input {
  width: 100%;
  height: 35px;
  font-size: 12px;
  border: 1px solid rgba(255, 67, 89, 0.5);
  border-radius: 5px;
  padding: 10px;
  /* padding: 0px 80px 0 20px; */
}


.blogSideBox .sideChildBox .socialMedia {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

.articleContainer .socialMedia .twitter:hover {
  background: #19a6ff;
}

.articleContainer .socialMedia .twitter:hover svg path {
  fill: #FFFFFF;
}

.articleContainer .socialMedia .linkedin:hover {
  background: #0177B5;
}


.articleContainer .socialMedia .linkedin:hover svg path {
  fill: #FFFFFF;
}

.articleContainer .socialMedia .facebook:hover {
  background: #1877F2;
}

.articleContainer .socialMedia .facebook:hover svg path {
  fill: #FFFFFF;
}


.blogSideBox .sideChildBox .socialMedia button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8f8f9;
  border-radius: 50%;
  border: none;
  height: 30px;
  width: 30px;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 0;
  cursor: pointer;
}


.blogSideBox .sideChildBox .socialMedia button svg {
  margin: 0;
  padding: 0;
}

/* left side all headers  */
.blogSideBox .sideChildBox .allHeadings {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-overflow: clip;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}

.blogSideBox .sideChildBox .allHeadings a {
  color: #404040;
  font-weight: 400;
  margin-top: 5px;
  width: 100%;
  font-size: 11px;
  padding: 3px;
  cursor: pointer;
  text-decoration: none;
  transition: all 200ms ease;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.blogSideBox .sideChildBox .allHeadings a:hover {
  background-color: rgba(0, 120, 255, 0.1);
  border-radius: 5px;
  color: #0078ff;
}

.blogSideBox .sideChildBox .allHeadings a.selected {
  background-color: rgba(0, 120, 255, 0.1);
  border-radius: 5px;
  color: #0078ff;
}

/* header  */
.articleContainer .headerImage {
  width: 100%;
  margin-top: 30px;
  border-radius: 5px;
  overflow: hidden;
}

.articleContainer img {
  display: block;
  width: 50%;
  /* min-width: 300px; */
  height: 50%;
  margin: auto;
  object-fit: contain;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.articleContainer .headerImage:hover img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

/* adding h3 margin top bottom  */
.articleContainer h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: 500;
}

.articleContainer h3 a {
  font-style: none;
  color: #000000;
  border: none;
  text-decoration: none;
}

.articleContainer h3 a:hover {
  text-decoration: underline;
}

.articleContainer h2 {
  margin-top: 30px;
  font-size: 32px;
  font-weight: 700;
  /* margin-bottom: 30px; */
}

.articleContainer h2 a {
  font-style: none;
  color: #000000;
  border: none;
  text-decoration: none;
}

.articleContainer h2 a:hover {
  text-decoration: underline;
}

.articleContainer p {
  font-size: 18px;
  line-height: 31px;
  letter-spacing: 0.025em;
  /* text-transform: capitalize; */
  color: #000000;
  margin-top: 30px;
}

.articleContainer hr {
  margin: 30px 0;
  border: 0;
  height: 1px;
  background-color: #dcdcdc;
}

/* youtube iframe css  */
.articleContainer iframe {
  min-width: 100%;
  height: 400px;
}

.articleContainer figure {
  min-width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.articleContainer figure img {
  min-width: 75%;
  height: auto;
}

.articleContainer figure figcaption {
  margin: 5px 0;
}

.articleContainer ol {
  width: fit-content;
  height: fit-content;
  margin-top: 30px;
  border: none;
  padding: 0;
}

.articleContainer ol li {
  padding-left: 6px;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 18px;
  letter-spacing: 0.025em;
  color: #000000;
}

.articleContainer ol li p {
  color: #000000;
}

/* style for unorder list  */
.articleContainer ul {
  width: fit-content;
  height: fit-content;
  margin-top: 30px;
  border: none;
  padding: 0;
}

.articleContainer ul li {
  padding-left: 6px;
  margin-top: 5px;
  margin-left: 20px;
  font-size: 18px;
  letter-spacing: 0.025em;
  color: #000000;
}

.articleContainer ul li:nth-child(1) {
  margin-top: 0;
}

.articleContainer blockquote {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 0 20px;
  border-left: 2.5px solid #ff4359;
  font-style: italic;
  font-size: 18px;
}

.articleContainer blockquote a {
  color: #ff4359;
}

.relatedArticlesContainer {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #F5F5F5;
  color: #fff;
}

.relatedArticlesContainer span {
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 20px;
  color: #000000;
  text-align: center;
  font-weight: 500;
}

.relatedArticlesContainer .articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



@media screen and (max-width: 600px) {
  .articleContainer .topSection h1 {
    font-size: 36px;
    line-height: 50px;
  }

  .articleContainer .topSection p {
    font-size: 18px;
    line-height: 27px;
  }

  .articleContainer {
    padding: 0px 20px;
  }

  .articleContainer p {
    font-size: 18px;
    line-height: 27px;
  }
}

@media screen and (max-width: 1000px) {
  .articleContainer .topSection .blogLeft {
    display: none;
  }

  .articleContainer .topSection .blogRight {
    display: none;
  }
}

/* article scroll bar */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.progressContainer {
  background-color: #ffffff;
  height: 2px;
  width: 100%;
}

.progressBars {
  background-color: #ff4359;
  height: 2px;
  width: 0%;
}