.subscribeCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 80px;
    background: #FF3850;
    color: #fff;
}

.subscribeCard input {
    margin-top: 30px;
    width: 400px;
    padding: 10px;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
}

.subscribeCard button {
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
}